<% content_for :body_content_left do %>
  <div class='inquiries'>
    <div class="row">
      <div class="span12">
        <div class='panel radius'>
        <%= form_for [refinery, :inquiries, @inquiry] do |f| %>
          <%= render :partial => "/refinery/admin/error_messages",
                     :locals => {
                       :object => @inquiry,
                       :include_object_name => true
                     } %>
          <div class="field">
            <%= f.text_field :name, :class => 'input-xlarge intext', :type => 'text', :required => 'required', :placeholder => t('name', :scope => 'activerecord.attributes.refinery/inquiries/inquiry') %>
          </div>
          <div class="field">
            <%= f.email_field :email, :class => 'input-xlarge intext', :type => 'text', :required => 'required', :placeholder => t('email', :scope => 'activerecord.attributes.refinery/inquiries/inquiry') %>
          </div>
          <div class='field message_field'>
            <%= f.text_area :message, :rows => 10, :class => 'input-xxlarge intext', :required => 'required', :placeholder => t('message', :scope => 'activerecord.attributes.refinery/inquiries/inquiry') %>
          </div>
          <div class="actions">
            <%= f.submit t('.send'), :class =>'btn btn-large  btn-primary' %>
            <%= link_to t('.privacy_policy'), "/pages/privacy-policy", :id => "privacy_link" if Refinery::Inquiries.show_contact_privacy_link %>
          </div>
        <% end %>
        </div>
      </div>
    </div>
  </div>
<% end %>
<%= render :partial => "/refinery/content_page" %>
