<!DOCTYPE html>
<%= render '/refinery/html_tag' %>
  <% site_bar = render('/refinery/site_bar', :head => true) -%>
  <%= render '/refinery/head' %>
  <body>
    <%= site_bar -%>
    <%= render '/refinery/ie6check' if request.env['HTTP_USER_AGENT'] =~ /MSIE/ -%>
    <div id="wrap">
      <div class="container">
        <div class="row">
          <h1>Higherplane is getting ready to launch.</h1>

          <blockquotes>
            <p>There comes a time when the mind takes a higher plane of knowledge but can never prove how it got there.</p>
            <p><i><small>Albert Einstein</small></i></p>
          </blockquotes>

          <a href="mailto:info@higherplane.nl">Please, don't hesitate to email us if you have any questions!</a> 
        </div>
      </div>
    </div>

    <div id="footer">
      <div class="container">
        <%= render '/refinery/footer' -%>
      </div>
    </div>


    <%= render '/refinery/javascripts' %>
  </body>
</html>
