<!DOCTYPE html>
<%= render '/refinery/html_tag' %>
  <% site_bar = render('/refinery/site_bar', :head => true) -%>
  <%= render '/refinery/head' %>
  <body>
    <%= site_bar -%>
    <%= render '/refinery/ie6check' if request.env['HTTP_USER_AGENT'] =~ /MSIE/ -%>

    <script type="text/javascript">
      $(document).ready(function(){
        var images = ['mountain.jpg',
                      'lights.jpg',
                      'clouds.jpg',
                      'cabin.jpg',
                      'road.jpg',
                      'beach.jpg',
                      'bridge.jpg',
                      'bubbles.jpg',
                      'dune.jpg',
                      'planes.jpg',
                      'lake.jpg',
                      'trees.jpg'];
        $('body').css({'background-image': 'url(/assets/' + images[Math.floor(Math.random() * images.length)] + ')'});
      });
    </script>

      <div class="container">
        <header id="header">
          <%= render '/refinery/header' -%>
        </header>
        <div class="row">
          <div class="span12">
            <blockquotes>
                <h2>'There comes a time when the mind takes a higher plane of knowledge but can never prove how it got there.'</h2>
                <p><i>Albert Einstein</i></p><br>
              </blockquotes>
           </div>
        </div>
        <section id="page">
          <%= yield %>
        </section>

      </div>

      <div class="container">
        <div id="footer">
          <div class="row">
            <div class="span4">
              <%= render '/refinery/footer' -%>
            </div>
          </div>
        </div>
      </div>
   </div>

    <%= render '/refinery/javascripts' %>
  </body>
</html>
