<!DOCTYPE html>
<%= render '/refinery/html_tag' %>
  <% site_bar = render('/refinery/site_bar', :head => true) -%>
  <%= render '/refinery/head' %>
  <body>
    <%= site_bar -%>
    <%= render '/refinery/ie6check' if request.env['HTTP_USER_AGENT'] =~ /MSIE/ -%>

      <div class="container">
        <header id="header">
          <%= render '/refinery/header' -%>
        </header>
        <div class="row">
          <div class="span12">
            <blockquotes>
                <h1>'There comes a time when the mind takes a higher plane of knowledge but can never prove how it got there.'</h1>
                <p><i>Some guy named Albert Einstein</i></p><br>
              </blockquotes>
           </div>
        </div>

        <section id="page">
          <%= yield %>
        </section>

        <hr>
      </div> 
   

      <div class="container">
        <div id="footer">      
          <div class="row">
            <div class="span2">
              <%= render '/refinery/footer' -%>
            </div>     
          </div>
        </div>
      </div>
   </div>

    <%= render '/refinery/javascripts' %>
  </body>
</html>
